/build
/cert.pem
/dist
/key.pem
/lib
/node_modules
/electron_app/node_modules
/electron_app/dist
/electron_app/pub
/packages/
/webapp
/.npmrc
/*.log
package-lock.json
.DS_Store
electron/dist
electron/pub
**/.idea
/src/component-index.js
/.tmp
/matrix-js-sdk
/matrix-react-sdk
config.json
electron_app/riot.im/config.json
